<section data-ng-controller="SlipsController" data-ng-init="find()">
	<div class="page-header text-center">
		<h2>All Slips</h2>
	</div>
	<!-- this is the new search input field -->
	<div class="form-group">
			<input type="text" ng-model="search" typeahead="slip as slip.title for slip in slips | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="slipSearch($item)" placeholder="Search slip...">
	</div>
	<!-- end -->
	<div class="list-group">
		<div class="row">
			<div class="col-md-5">

		<a data-ng-repeat="slip in slips" data-ng-href="#!/slips/{{slip._id}}" class="list-group-item">
			<h3 class="list-group-item-heading" data-ng-bind="slip.title"></h3>
			<p data-ng-bind="slip.issue"></p>
			<p class="label label-info" data-ng-bind="slip.category"></p>
		</a>
			</div>
		</div>
	</div>
	<a href="#!/slips/create" id="create-slip" class="btn btn-large btn-primary">New Slip</a>
</section>
